body{
    background-color: cadetblue;
    align-content: center;
}
.content{
    background-color: blue;
    width: 60%;
    margin: auto;
}
input{
    width: 95%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
} 
select{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    
}
#header{
    text-align: center;
}
.submit-button {
    display: block;
    width: 100%;
    padding: 0.75em;
    background-color: green;
    color: white;
    cursor:pointer;

}
